{% extends 'consumption/layout.html' %}

{% load i18n %}
{% load static %}

{% block content %}
	{% trans "Id" %}: {{object.user_id}}
	{% trans "Area" %}: {{object.area}}
	{% trans "Tariff" %}: {{object.tariff}}

	<div style="height:500px;">
        <canvas id="myChart"></canvas>
    </div>

    <div style="display:none;">
		{% for user in object.users.all %}
			<div class='cons_users'>{{user.datetime|date:"M d, Y"}}</div>
			<div class='cons_consumption'>{{ user.consumption}}</div>
		{% endfor %}
	</div>
{% endblock %}

{% block js-foot %}
    <script src="{% static "scripts/summary-graph.js" %}"></script>
{% endblock js-foot %}