{% extends 'consumption/layout.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <span><a href="{% url 'summary'  %}">{% trans "Back" %}</a></span>

    <ul>
        <li>{% trans "Id" %}: {{object.user_id}}</li>
        <li>{% trans "Area" %}: {{object.area}}</li>
        <li>{% trans "Tariff" %}: {{object.tariff}}</li>
    </ul>

    <div style="height:500px;">
        <canvas id="myChart"></canvas>
    </div>

    <div style="display:none;">
        {% for user in object.users.all %}
            <div class='cons_users'>{{user.datetime|date:"M d, Y"}}</div>
            <div class='cons_consumption'>{{ user.consumption}}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js-foot %}
    <script src="{% static "scripts/summary-graph.js" %}"></script>
{% endblock js-foot %}