{% extends 'consumption/layout.html' %}

{% load i18n %}


{% block content %}
<h1>summary page</h1>

<table>
    <thead>
        <tr>
            <th>
                {% trans "User Id" %}
            </th>
            <th>
                {% trans "Area" %}
            </th>
            <th>
                {% trans "Tariff" %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users%}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.area }}</td>
                <td>{{ user.tariff }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}